@model IEnumerable<AplicacionWeb.Modelo.Product>

@{
    ViewBag.Title = "Inicio";
}

<h2>Index</h2>
<p>
    @CustomHelper.Message("successMessage", "success", "The record was created.")
    @CustomHelper.Message("editMessage", "info", "The record was Update.")
    @CustomHelper.Message("deleteMessage", "danger", "The record was Delete.")
</p>
<p>
    <div class="btn btn-success">
        @Html.ActionLink("Create New", "Crear")
    </div>
</p>

<div class="row">
    @CustomHelper.RowSizeDropdown()
    <div class="col-lg-8" id="paginator-container">
        <div class="paginator"></div>
    </div>
</div>



<div id="clienteContent"></div>



<input type="hidden" id="baseUrl" value="@Url.Action("", new { controller="Producto", area="Fabrica" })" />

@CustomHelper.GetModal("Producto")
@Scripts.Render("~/bundles/unobtrusive-ajax")
@Scripts.Render("~/bundles/modal")
@Scripts.Render("~/bundles/paginator")
@Scripts.Render("~/bundles/cliente")

<script type="text/javascript">
    var pageSizeAction = '@Url.Action("PageSize", new { controller = "Producto", area = "Fabrica" })';
    var listAction = '@Url.Action("Lista", new { controller = "Producto", area = "Fabrica" })';
</script>

