@model IEnumerable<AplicacionWeb.Modelo.Supplier>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fax)
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax)
            </td>
            <td>
                <a href="#"
                   onClick="getModalContent('@Url.Action("Editar", new { area="Fabrica", id = item.Id })')"
                   data-toggle="modal"
                   data-target="#modal-container"
                   class="btn btn-success">
                    <span class="glyphicon glyphicon-edit"></span> Edit
                </a>

                <a href="#"
                   onClick="getModalContent('@Url.Action("Detalle", new { area="Fabrica", id = item.Id })')"
                   data-toggle="modal"
                   data-target="#modal-container"
                   class="btn btn-success">
                    <span class="glyphicon glyphicon-eye-open"></span> Details
                </a>

                <a href="#"
                   onClick="getModalContent('@Url.Action("Eliminar", new { area="Fabrica", id = item.Id })')"
                   data-toggle="modal"
                   data-target="#modal-container"
                   class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span> Delete
                </a>
            </td>
        </tr>
    }
</table>